.CreateRoom-container {
    height: 100%;
    background-color: #b39ddb;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.CreateRoom-form {
    display: flex;
    flex-direction: column;
}

/* define differences for mobile */
@media only screen and (max-width: 600px) {
    .CreateRoom-container {
        flex-direction: column;
        align-items: stretch;
    }
}
