.JoinRoomForm-container {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #18ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
}
