.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-foodicon-container {
  background-color: #ffab40;
  justify-content: center;
  padding: 1px;
}

a {
  text-decoration: none;
}