.JoinRoom-container {
    height: 100%;
    background-color: #84ffff;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.JoinRoom-form {
    display: flex;
    flex-direction: column;
}

/* define differences for mobile */
@media only screen and (max-width: 600px) {
    .JoinRoom-container {
        background-color: #84ffff;
        flex-direction: column;
        align-items: stretch;
    }
}
